<template>
    <div class="home">
        <div class="form">
            <input v-model="name" type="text" placeholder="Название темы">
            <textarea v-model="discription" placeholder="Описание"></textarea>
            <a @click="sub" class="button">ДОБАВИТЬ</a>
        </div>
        <div class="news" v-for="item in items" :key="item.id">
            <div>{{item.name}}</div>
            <div>{{item.discription}}</div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'home',
        data() {
            return {
                name: '',
                discription: '',
                items: []
            }
        },
        methods: {
            sub() {
                axios
                    .post('http://localhost:8081/addnews', {
                        name: this.name,
                        discription: this.discription
                    })
                    .then(() => {
                        location.reload()
                    })
            }
        },
        mounted() {
            axios
                .get('http://localhost:8081/getnews')
                .then((responce) => {
                    this.items = responce.data
                })
        }
    }
</script>
<style>
    .form {
        display: flex;
        flex-direction: column;
        width: 10rem;
        margin-left: 45%;
    }

    .news {
        display: flex;
        flex-direction: column;
        margin: 1rem 30rem 1rem 30rem;
        border: 0.2rem black solid;
    }
</style>
